
<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Calories Log Index
      </h1>
      <h2 class="subtitle">
        Welcome <i><%= current_user.name %></i>
      </h2>
      <%= link_to 'New Log', new_calory_path, class:"button is-link" %>

    </div>
  </div>
</section>

<div >
    <% @calories.each do |cal| %>
    <div >
      <p>
        <%= cal.calories_number %>
        <%= cal.calories_type %>
        <%= cal.calories_related_activity %>
      </p>
    </div>
    <% end %>
</div>
