

<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Calories Log Index
      </h1>
      <h2 class="subtitle">
        Welcome <i><%= current_user.name %></i>
      </h2>
      <%= link_to 'New Log', new_calory_path, class:"button is-link" %>
      <%= form_tag calories_path, method: :get do %>
        <%= label_tag :date, "Search for:" %>
        <%= date_field_tag :date, params[:date] %>
        <%= submit_tag "Search", name: nil %>
      <% end %>
    </div>
  </div>
</section>
<div >
  <div class= "tabs is-centered", id="paginationContainer"  >
    <%= paginate @calories %>
  </div>
</div>
<div id="tableContainer">
<table class="table" >
  <thead>
    <tr>
      <th>Log Number</th>
      <th>Calories</th>
      <th>Related Activity</th>
      <th>Type of Calories (Ingested/Burnt)</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody >
      <% @calories.each do |cal| %>
      <tr >
          <td><%= link_to cal.id, calory_path(cal) %></td>
          <td><%= cal.calories_number %></td>
          <td><%= cal.calories_related_activity %></td>
          <td><%= cal.calories_type ? "Calories Ingested":"Calories Burnt"%></td>
          <td>
            <div>
              <%= link_to 'Delete Log', calory_path(cal), method: :delete %>
              <%= link_to 'Edit Log', edit_calory_path(cal)%>
            </div>
          </td>
      </tr>
     <% end %>
  </tbody>
</table>
</div>
