
<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      Calories Log Number: &nbsp;
       <%=@calory.id %>

    </p>

    <a href="#" class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </a>
  </header>
  <div class="card-content">
    <div class="content">
      <%= @calory.calories_related_activity %>

      <br>
      <ul>
        <li><%= @calory.calories_number %></li>
        <li><%= @calory.calories_related_activity %></li>
        <li><%= @calory.calories_type ? "Calories Ingested":"Calories Burnt"%></li>
      </ul>
      <time datetime="2016-1-1">Logged on: &nbsp;<%= @calory.created_at %></time>
    </div>
  </div>
  <footer class="card-footer">
      <a><%= link_to 'Edit Log', edit_calory_path(@calory), class:"card-footer-item"%></a>
      <a><%= link_to 'Delete Log', calory_path(@calory), method: :delete, class:"card-footer-item" %></a>
      <a><%= link_to "Back", calories_path, class:"card-footer-item" %></a>
  </footer>

</div>
